<h1>Parking Boys</h1>

<br />
<br />

<p>
  Please click the link below to verify your e-mail address for activation your
  Parking Boys' account.
</p>
<div>
  <a href="{{activation_url}}" id="href">Activate your account!</a>
</div>

<p>If you did not create an account, no further action is required.</p>
<br />
<p>
  If you're having trouble clicking the "Verify Email Address" button, copy and
  paste the URL below into your web browser:
  <a href="{{activation_url}}">{{activation_url}}</a>
</p>
